[submodule "recipe-page"]
	path = recipe-page
	url = https://github.com/mjcaldev/recipe-page.git
[submodule "sample-blog"]
	path = sample-blog
	url = https://github.com/mjcaldev/sample-blog.git
[submodule "video-comp"]
	path = video-comp
	url = https://github.com/mjcaldev/video-comp.git
[submodule "travel-agency"]
	path = travel-agency
	url = https://github.com/mjcaldev/travel-agency.git
[submodule "event-hub"]
	path = event-hub
	url = https://github.com/mjcaldev/event-hub.git
[submodule "hotel-nps-survey"]
	path = hotel-nps-survey
	url = https://github.com/mjcaldev/hotel-nps-survey.git
[submodule "table-sample"]
	path = table-sample
	url = https://github.com/mjcaldev/table-sample.git
