[submodule "recipe-page"]
	path = recipe-page
	url = https://github.com/mjcaldev/recipe-page.git
[submodule "sample-blog"]
	path = sample-blog
	url = https://github.com/mjcaldev/sample-blog.git
[submodule "video-comp"]
	path = video-comp
	url = https://github.com/mjcaldev/video-comp.git
[submodule "travel-agency"]
	path = travel-agency
	url = https://github.com/mjcaldev/travel-agency.git
[submodule "event-hub"]
	path = event-hub
	url = https://github.com/mjcaldev/event-hub.git
[submodule "hotel-nps-survey"]
	path = hotel-nps-survey
	url = https://github.com/mjcaldev/hotel-nps-survey.git
[submodule "table-sample"]
	path = table-sample
	url = https://github.com/mjcaldev/table-sample.git
[submodule "book-catalog"]
	path = book-catalog
	url = https://github.com/mjcaldev/book-catalog.git
[submodule "checkout-page"]
	path = checkout-page
	url = https://github.com/mjcaldev/checkout-page.git
[submodule "movie-review"]
	path = movie-review
	url = https://github.com/mjcaldev/movie-review.git
[submodule "media-player"]
	path = media-player
	url = https://github.com/mjcaldev/media-player.git
[submodule "cafe-menu"]
	path = cafe-menu
	url = https://github.com/mjcaldev/cafe-menu.git
[submodule "biz-card"]
	path = biz-card
	url = https://github.com/mjcaldev/biz-card.git
[submodule "todo-list"]
	path = todo-list
	url = https://github.com/mjcaldev/todo-list.git
[submodule "blog-card"]
	path = blog-card
	url = https://github.com/mjcaldev/blog-card.git
[submodule "event-flyer"]
	path = event-flyer
	url = https://github.com/mjcaldev/event-flyer.git
[submodule "greeting-card"]
	path = greeting-card
	url = https://github.com/mjcaldev/greeting-card.git
[submodule "job-app"]
	path = job-app
	url = https://github.com/mjcaldev/job-app.git
[submodule "css-markers"]
	path = css-markers
	url = https://github.com/mjcaldev/css-markers.git
[submodule "color-grid"]
	path = color-grid
	url = https://github.com/mjcaldev/color-grid.git
